body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: linear-gradient(45deg, #0B82BA, #2C4A93, #B01513, #A2A39E);;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    display: flex;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

h1, h3 {
    color: #333;
}

ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 15px;
}

.logo-animado {
    width: 150px; 
     
}

.contenedor {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
    margin: 20px 0; 
}

.imagen-tienda {
    width: 100vw; 
    height: auto;
     
}

.image-container {
    position: relative;
    overflow: hidden;
}

h2 {
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.7);
    padding: 5px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s;
}

.image-container:hover h2 {
    opacity: 1;
}

.imagen-producto {
    width: 300px; /* Ajusta el ancho deseado */
    height: 200px; /* Ajusta la altura deseada */
    object-fit: cover; /* Mantiene la proporción de la imagen y recorta si es necesario */
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.imagen-producto:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}




@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

footer {
    background: linear-gradient(45deg, #0B82BA, #2C4A93, #B01513, #A2A39E);;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}